header {
    margin: 0;
}

main {
    width: 100%;
    height: 92%;
    display: flex;
    align-items: center;
}

section {
    height: 60%;
    width: 100%;
    background-color: var(--color-grey-600);
    display: flex;
    align-items: flex-end;    
}

div {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 10px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 13px;
}
#bntRegister{
    margin: 20px 0 20px 0;
}

.footerLogin {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.footerLogin>a {
    width: 100%;
}

.footerLogin>a>button {
    width: 100%;
}

@media (min-width:700px) {
    main{
        height: 80%;
        justify-content: center;
    }
    section {
        width: 40%;
        height: 80%;
    }
    
}