#main {
    margin-top: 3%;
}

.cardTitle {
    height: 15vh;
    overflow-y: hidden;
}

.homeNav {
    display: flex;
    justify-content: space-between;
}

.cardsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    gap: 8px;
}
.card {
    position: relative;
    height: 100%;
    width: 300px;
}


figure {
    background-color: var(--color-grey-800);
    width: 100%;
    height: 40%;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

figure>img {
    margin: 0px auto;
    max-width: 100%;
    max-height: 80%;
}

.productInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.productCategory{
    position: absolute;
    bottom: 80px;
    right:20px;
}

.productDescription {
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.filterButtonContainer {
    display: flex;
    gap: 16px;
    overflow-x: scroll;
}

.cart {
    height: 100%;
    cursor: pointer;
}

@media(min-width: 700px) {
    .cardsContainer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 3%;
        gap: 8px;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 100%;
    }
    .card {
        height: 400px;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        position: relative;
        background-color: var(--color-grey-600);
        border-radius: 8px;
    }

}
