button {
    cursor: pointer;
    padding: 0px 22px;

}
.bntCart{
    width: 28px;
    height: 28px;
    background-image: url(../assets/icons/cart-shopping.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}

.bntOne {
    height: 48px;
    background: var(--color-grey-800);
    border: transparent;
    color: var(--color-brand-100);
}

.bntTwo {
    height: 48px;
    background: var(--color-brand-100);
    border: 1px solid var(--color-brand-100);
    border-radius: 30px;
    color: var(--color-grey-800);
}

.bntTree {
    height: 48px;
    background: var(--color-brand-300);
    border: 1px solid var(--color-brand-300);
    color: var(--color-grey-800);
}

.bntTree {
    height: 48px;
    width: 100%;
    background: var(--color-brand-300);
    border: 1px solid var(--color-brand-300);
    color: var(--color-grey-800);
}

.bntFour {
    height: 48px;
    background: var(--color-grey-800);
    border: 1px solid var(--color-brand-300);
    color: var(--color-brand-300);
}

.bntFive {
    padding: 1px;
    background: var(--color-grey-800);
    border: 1px solid var(--color-brand-100);
    color: var(--color-brand-100);
    display: flex;
    align-items: center
}