button {
    cursor: pointer;
    padding: 0px 22px;
}
.bntCart{
    width: 28px;
    height: 28px;
    background-image: url(../assets/icons/cart-shopping.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}

.bntOne {
    transition: 0.5s ease-in;
    height: 48px;
    background-color: var(--color-grey-600);
    border: 2px solid var(--color-grey-300);
    color: var(--color-brand-100);
}
.bntOne:hover {
    transition: 0.5s ease-out;
    background-color: var(--color-grey-100);
    border: 2px solid var(--color-grey-700);
    color: var(--color-grey-600);
    font-style: normal;
    font-weight: 600;
    font-size: var(--font-size-1);
    line-height: 150%;
}

.bntTwo {
    height: 48px;
    background: var(--color-brand-100);
    border: 1px solid var(--color-brand-100);
    color: var(--color-grey-800);
}

.bntTwo:hover {
    transition: 0.5s ease-out;
    background: var(--color-brand-300);
    border: 1px solid var(--color-brand-100);
    color: var(--color-grey-800);
}
.bntTree {
    height: 48px;
    background: var(--color-brand-300);
    border: 1px solid var(--color-brand-300);
    color: var(--color-grey-800);
}

.bntTree {
    height: 48px;
    width: 100%;
    background: var(--color-brand-300);
    border: 1px solid var(--color-brand-300);
    color: var(--color-grey-800);
}

.bntFour {
    height: 48px;
    background: var(--color-grey-800);
    border: 1px solid var(--color-brand-300);
    color: var(--color-brand-300);
}

.bntFive {
    padding: 1px;
    background: var(--color-grey-800);
    border: 1px solid var(--color-brand-100);
    color: var(--color-brand-100);
    display: flex;
    align-items: center
}

.checkoutAll {
    width: 90%;
    align-self: center;
    margin-bottom: 75px;
    height: 50px;
    background-color: var(--color-grey-100);
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.checkout {
    width: fit-content;
    align-self: flex-end;
    background-color: var(--color-grey-100);
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    padding: 9px 11px;
    border: none;
    cursor: pointer;
}