@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

:root {
  --color-grey-100: #000000;
  --color-grey-200: rgba(0,0,0,0.1);
  --color-grey-300: rgba(0,0,0,0.5);
  --color-grey-400: rgba(0,0,0,0.25);
  --color-grey-600: rgba(225,225,225,0.9);
  --color-grey-700: #f8f8f8;
  --color-grey-800: #ffffff;
  --color-brand-100: #051e32; 
  --color-brand-150: #051e32d3;
  --color-brand-200: #ff0000;
  --color-brand-300: #03121f;
  --font-size-1: 1.5rem;
  --font-size-2: 1.3rem;
  --font-size-3: 1.25rem;
  --font-size-4: 1rem;
  --font-size-5: 2rem;
}

body {
  font-family: 'Inter';
  width: 100%;
  height: 100vh;
}

body::-webkit-scrollbar{
  width: 10px;
}
body::-webkit-scrollbar-track{
  background-color: transparent;
}
body::-webkit-scrollbar-thumb{
  background-color: var(--color-brand-100);
  border-radius:10px ;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.colorGreyOne {
  color: var(--color-brand-100);
}

.colorGreyFuor {
  color: var(--color-grey-400);
}

.colorGreySeven {
  color: var(--color-grey-700);
}