header {
    background-color: var(--color-grey-700);
    width: 100%;
    border-bottom: 1px solid var(--color-grey-200);
    margin-bottom: 20px;
}

.header {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0;
}

.logo>div {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 5px;
}


#logo{
    height: 80%;
}

.open {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 60px;
    left: 0;
}

.nav {
    display: none;
    background-color: var(--color-grey-700);
    width: 95%;
    height: auto;
    padding: 5px;
}


@media (min-width:700px) {
    .logo>button {
        display: none;
    }

    .logo>div>h1 {
        width: 100%;
    }


    .header {
        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        width: 100%;
        
    }
}