.toastfy{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    color: var(--color-gray-800);
    border-radius: 10px;
    padding: 10px 20px;
}
.toastfyErr {
    background-color: var(--color-brand-200);
}

.toastfySucess {
    background-color: var(--color-brand-300);
}

@media (min-width:700px) {
    .toastfy{
        right: 10px;
        bottom: 10px;
        width: 20%;
    }
}