footer {
  min-height: 286px;
  background: black;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 90px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.product-image {
  width: 600px;
  height: 600px;
  object-fit: contain;
}

.card {
  background: #D9D9D9;
  border-radius: 20px;
  height: 193px;
  width: 623px;
  padding-inline: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

span.product-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.product-price {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.card-actions {
  display: flex;
  gap: 32px;
}

.card-actions img {
  width: 40px;
}

.payment {
  border: 3px solid #000000;
  border-radius: 10px;
  padding: 16px 7px;
  background: rgba(0,0,0,0);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

/*  */

section#same-category {
  padding-left: 100px;
}

.related {
  display: flex;
  gap: 20px;
}

.related-product {
  width: 290px;
  height: 285px;
  object-fit: scale-down;
}

.related-product img {
  width: 290px;
  height: 285px;
  object-fit: scale-down;
}